[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-class-docstring
    W0703, # broad-except
    W0511, # fixme, like TODO
    R1732, # consider-using-with
    C0201, # consider-iterating-dictionary

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=100

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=no

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=240

[BASIC]
# Regular expression matching correct method names
# Pylint do not complain for setUp and other if it
# detects that we inherit from unittest.TestCase
# But that's not always possible to detect.
method-rgx=[a-z_][a-z0-9_]{2,30}$|do_POST(Class)?