aria2p==0.11.2
beautifulsoup4==4.11.1
requests==2.28.1
setuptools==65.5.1
pyexecjs==1.5.1
libtorrent==2.0.7
qbittorrent-api==2023.2.43
flask==2.2.5
pyyaml==5.4
feedparser==6.0.10
transmission-rpc==4.2.0
coverage==7.2.3
lxml==4.9.2
waitress==2.1.2
watchdog==3.0.0
mkdocs==1.4.3
mkdocs-awesome-pages-plugin==2.9.0
mkdocs-material==9.1.11
mkdocs-material-extensions==1.1.1
mkdocs-redirects==1.2.0
mkdocs-mermaid2-plugin==0.6.0
pymdown-extensions==9.11
mkdocs-static-i18n==0.56