aria2p==0.11.3
beautifulsoup4==4.12.2
requests==2.32.2
setuptools==68.1.2
pyexecjs==1.5.1
bencodepy==0.9.5
qbittorrent-api==2023.7.52
flask==2.3.3
flask_cors==4.0.1
pyyaml==6.0.1
feedparser==6.0.10
transmission-rpc==4.3.0
coverage==7.3.0
lxml==4.9.3
waitress==2.1.2
watchdog==3.0.0
mkdocs==1.5.2
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-material==9.2.5
mkdocs-material-extensions==1.1.1
mkdocs-redirects==1.2.1
mkdocs-mermaid2-plugin==1.0.8
pymdown-extensions==10.1
mkdocs-static-i18n==0.56
telepot==12.7